{% extends 'base.html' %}
{% block title %} Новая категория {% endblock %}
{% block content %}
    
  {% if user.is_authenticated %}

    <h1>Создание новой категории</h1>
      <br/>
      <br/>
      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-secondary">Добавить</button>
      </div>

  {% else %}

    <br/>
    <br/>
    <br/>
    <h5> Тебя здесь быть не должно!
    Но ты и так в курсе, верно ;)</h5>

  {% endif %}

      
{% endblock %}