{% extends 'base.html' %}

{% block content %}
    
<h1></h1>
<br/>

<ul>

{% if user.is_authenticated %}

      {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}">
        {{ post.title }}</a> 
        | {{ post.author.first_name }} {{ post.author.last_name }}
        <br/>
          {{ post.date }}
        <br/>

        <small>
          <a href="{% url 'update_post' post.pk %}">Изменить |</a>

          <a href="{% url 'delete_post' post.pk %}">Удалить</a>
        </small>
        <br/>

        {{ post.body|slice:"500"|safe }}...</li>
        <br/>
        <br/>
      {% endfor %}</ul>
{% else %}
    <br/><br/><br/>
    <p><strong>Dobro Dent - это место где понимают, что люди - это новая нефть, это место где сотрудников ценят и берегут. </strong> </p>
  <p>Сеть стоматологических клиник Dobro Dent - организация с развитой корпоративной культурой и по настоящему добрым отношением среди сотрудников. В нашей компании человек на любой позиции стремится делать свою работу качественно, тем самым влияя на конечный продукт своего департамента и организации в целом.</p>
  <p>Все современные мировые стандарты комфортной работы для сотрудников - отсутствие бюрократии и вертикалей власти, высокая заработная плата, официальное трудоустройство и полная уверенность что к твоему мнению прислушиваются - вот наши приоритеты. </p>
  <br/>
  <big><p>Dobro Dent - место где вас будут ценить, учить, вести к росту и беречь.<br/> Мы дорожим близкими по духу людьми.</p></big>
{% endif %}
{% endblock %}